
.tabs{height:250px;width:280px;overflow-y:hidden}
.tabs { 
    background: transparent; 
    border: none; 
} 
.tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.tabs .ui-tabs-nav .ui-state-active { 
    background: transparent; 
    border: none; 
} 
.tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
.tabs .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}






#map-canvas{width:95%; height:768px;}
